/* @tailwind preflight;
@tailwind utilities; */

@import 'tailwindcss/preflight';
@import 'tailwindcss/utilities';
@import './aspectratio.css';
@import './column.css';


html {
  color: #666;
  font-size: 93.75%;
  font-family: 'Inter UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h-50vh {
  height: 50vh;
}

.hero {
  min-height: calc(50vh - 5.375rem) ;
}


.h-75vh {
  height: 75vh;
}

.hero75 {
  min-height: calc(75vh - 5.375rem) ;
}

.header-line {
  height: 1px;
}

@media (min-width: 768px) {
  .f-top-4 {
    transform: translateY(-3rem)
  }
}

@media (min-width: 960px) {
  .lg-text-7xl {
    font-size: 5rem;
  }
}

.zigzag > div:nth-child(3n-1) {
  align-self: flex-end;
}